@import "../abstracts/variables";
@import "../abstracts/mixins";

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 3rem;
  background-color: rgb(235, 233, 233);
  box-shadow: 0.2rem 0.2rem 0.2rem rgb(206, 205, 205) inset;

  &_text {
    margin-left: 1rem;
    font-weight: bold;
  }
}

.exploration {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 15rem;
  background-color: rgb(240, 239, 239);

  &_title {
    font-family: "Roboto", sans-serif;
  }

  &_subtitle {
    opacity: 0.8;
  }
}

#functioning_sec {
  max-width: 100%;
  width: 100%;
  height: 18rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.functioning_title {
  margin: 1rem 1rem 0.2rem 1.5rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.functioning_steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.functioning_step {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 1.2rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem auto;
  font-weight: bold;
  background-color: rgb(240, 239, 239);
  width: 16rem;
  min-width: 15rem;
  max-width: 30rem;
  position: relative;
  box-shadow: 0rem 0rem 0.2rem rgb(167, 165, 165);
}

.pink {
  background-color: lighten($primarycolor, 30%);
}

#store_icon {
  color: $primarycolor;
  opacity: 1;
}

.functioning_nbr {
  position: absolute;
  left: -0.4rem;
  top: 1.2rem;
  padding: 0.2rem 0.5rem;
  z-index: 100;
  background-color: $primarycolor;
  border-radius: 50%;
  color: white;
}

.functioning i {
  opacity: 0.6;
}
// les 4 restaurants

#restaurants {
  margin: 2rem 0 0 0;
  width: 100%;
  background-color: rgb(233, 230, 230);
}

.Resto {
  background-color: white;
  border-radius: 1.5rem;
  margin: 1rem auto;
  box-shadow: 1px 1px 5px rgb(119, 117, 117);
  position: relative;
  width: 40rem;
  height: 16rem;
  text-decoration: none;
  transform: scale(1);

  &_list {
    margin: 1.5rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
  &_img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: 50% 62%;
    border-radius: 1.5rem 1.5rem 0 0;
  }

  &_img_note {
    padding: 0.5rem 0.6rem;
    background-color: $tertiarycolor;
    color: rgb(21, 134, 97);
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    text-shadow: 0 0 0 $tertiarycolor;
  }

  &_comment {
    @include flex;
    align-items: center;
  }

  &_comment_text {
    margin: 0.4rem 0 0 1.2rem;
    line-height: 1.4rem;
    color: black;
  }

  &_comment_icon {
    margin-right: 1rem;
    font-size: 1.3rem;
  }
}

.Resto:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
}

.restaurant_title {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  left: 1.5rem;
  top: 1.6rem;
}

// background image des restaurants

.Menu_img img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 20rem;
  padding: 0;
  margin: 0;
  z-index: -1;
}

//listes des menus

#The_Menu {
  margin-top: 16.3rem;
  padding: 1rem;
  background-color: rgb(226, 226, 226);
  border-radius: 2rem 2rem 0 0;
}

.Menu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 1.5rem;
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;

  &_dishes {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  &_title {
    font-family: "Shrikhand", "cursive";
    font-size: 1.5rem;
  }

  &_btn {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.menu_dishes_title {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  position: relative;
  opacity: 0.7;
}

.menu_dishes_title::after {
  content: "";
  background: $tertiarycolor;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0.2rem;
  width: 3.8rem;
}

.The_menu_dish {
  background-color: white;
  padding: 0.6rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation: menuanimation 1.2s ease-in-out forwards;
}

.The_menu_dish:nth-child(1) {
  animation: menuanimation 1.2s ease-in-out forwards;
}
.The_menu_dish:nth-child(2) {
  animation: menuanimation 1.2s ease-in-out 0.2s forwards;
}

.The_menu_dish:nth-child(3) {
  animation: menuanimation 1.2s ease-in-out 0.3s forwards;
}
.The_menu_dish:nth-child(4) {
  animation: menuanimation 1.2s ease-in-out 0.5s forwards;
}

.The_dish {
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.The_dish_name {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.The_dish_descr {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.The_dish_price {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}

.the_dish_selected {
  background-color: $tertiarycolor;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  margin: -1rem -5rem -1rem 1rem;
}

.The_menu_dish:hover .the_dish_selected {
  margin-right: -1rem;
}

.The_dish_checked {
  height: 1.6rem;
  width: 1.6rem;
  background-color: $tertiarycolor;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  font-size: 1.5rem;
}

.The_menu_dish:hover .The_dish_checked {
  animation: checked_rotation 1s ease-in-out reverse;
}
