@media screen and (min-width: 400px) {
  #functioning_sec {
    max-width: 100%;
    width: 100%;
    height: 14rem;
  }

  .functioning_title,
  .restaurant_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .Menu {
    justify-content: center;
  }

  .Menu h1 {
    font-size: 2rem;
    margin-right: 1.5rem;
  }
  .Menu_icon {
    font-size: 1.3rem;
  }
  .The_menu_dish {
    width: 22rem;
    max-width: 100%;
  }

  .Menu_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 700px) {
  .exploration {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 6rem;
  }

  .functioning_step {
    width: 35%;
  }

  .footer_logo {
    font-size: 1rem;
  }

  #footer,
  .footer_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 880px) {
  footer {
    height: 5rem;
  }

  .footer_logo {
    font-size: 1rem;
  }

  #footer,
  .footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer_list li a {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 980px) {
  .Resto {
    width: 30rem;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1343px) {
  .Resto {
    width: 40rem;
    justify-content: space-evenly;
  }
}
